/* General
   ========================================================================== */

*{
    box-sizing: border-box;
}
  

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.justifyContent{
   justify-content: center;
}

.alignItems{
    align-items: center;
}

html{
    font-size: 62.5%;
}

.hidden{
    display: none;
}

.font{
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    line-height: 3rem;
}


/* Nav
   ========================================================================== */

li{
    list-style-type: none;
}

.nav li{
    border-bottom: 1px solid black;
}



/* Header
   ========================================================================== */

header{
    background: no-repeat url('images/background.jpg') center/cover;
    height: 100vh;
    padding-top:9rem;
}

header.flex p{
    font-size: 2.5rem;
    width: 17%;
    font-weight: bold;
    color: black;
    margin-bottom: -24rem;
}

#header h1 a{
    font-size: 5rem;
    padding: 1rem 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-weight: bold;
}

#click{
    justify-content: flex-end;
    height: 62vh;
}
#click a{
    letter-spacing: .1rem;
    width: 100%;
}



/* Websites
   ========================================================================== */

.image{
    padding: 1rem;
}

#one h2{
    font-size: 3rem;
    border-bottom: 2px solid white;
}

.right, .left{
    width: 40%;
    padding: 4rem;
}

#one img{
    max-width: 80%;
}

#one img:hover{
    opacity: 75%;
}

#one img:active{
    opacity: 100%;
}


.websites{
    justify-content: space-around;
}

.button{
    background: rgb(237, 207, 207);
    border: none;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 4rem;
}

#websites{
    padding-bottom: 1.5rem;
    width: 20%;
}

#one{
    background-color: rgb(44, 37, 37);
    padding: 4rem;
}

.section2-1{
    background-color: rgb(42, 29, 29);
}

.section2-2{
    background-color: rgb(40, 21, 21);
}

.section2-3{
    background-color: rgb(38, 13, 13);
}

.button:hover{
    cursor: pointer;
    color: black;
    background: rgb(226, 153, 153);
}

.button:active{
    box-shadow: 2px 0px white;
}

/* My Services
   ========================================================================== */
#two{
    background: #505393;
    padding: 10rem;
}

#two h2{
    font-size: 4rem;
    padding-bottom: 1.5rem;
    width: 30%;
    border-bottom: 2px solid white;
}

.services{
    margin-top: -2rem;
}

.services li{
    color: #c8ece9;
    width: 25%;
    padding: 4rem;
    height: 60vh;
    text-align: left;
    }

.solid{
    width: 26%;
    height: 20vh;
}
  

.icons li{
    font-size: 5rem;
}

.icons{
margin-right: 1rem;
}

 .icons, .services{
    justify-content: center;
 }

.i1{
    margin-left: -3.6rem;
    background: #4a4d8e;
}

.i2{
    background: #434785;
}

.i3{
    margin-right: -1rem;
    background: #404581;
}

.s1{
    background: #3f457f;
}

.s2{
    background: #363d75;
}

.s3{
    background: #313670;
}

/* About Me
   ========================================================================== */

#three{
    background: #21b2a6;
    padding: 5rem;
}

#three img{
    width: 20%;
}

#three p{
    width: 60%;
    color: #c8ece9;
}

#three h2{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.125)
}

/* Footer
   ========================================================================== */

   footer{
    box-shadow: inset 0 0 0 1000px rgba(44, 37, 37,.9);
    background: url('images/background.jpg')  no-repeat center/cover;
   }

   .social ul li{
    list-style-type: none;
   }

 #name, #email, form, form textarea{
    width: 80%;
   }

form label{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

 #name, #email{
    border-radius: 5px;
    height: 5vh;
   }

   #name, #email, form textarea{
    background-color: rgba(144, 144, 144, 0.25);

   }

   form textarea{
    height: 22vh;
   }

   input.send{
    padding: .5rem 2rem;
    background: none;
    border: 1px solid white;
    margin-top: 2rem;
   }

   .send:hover{
    cursor: pointer;
    background: rgb(59, 55, 55)
   }

   .send:active{
    background: rgb(0, 0, 0)
   }


   
  .social a.font:hover{
    color:black;
}

.social a.font:active{
    color: white;
}

   form input.font{
    text-align: left;
   }

   .social ul{
    width: 100%;
   }

   .social a{
    font-size: 3rem;
   }


   .social a.font{
    color: rgba(144, 144, 144);
   }


   .first a{
    margin-left: -2rem;
   }

   .social li{
    margin-left: 2rem;
    margin-right: 2rem;
   }


   body *{
    border: 2px solid white;
   }