/* General
   ========================================================================== */

*{
    box-sizing: border-box;
}
  

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.justifyContent{
   justify-content: center;
}

.alignItems{
    align-items: center;
}

html{
    font-size: 62.5%;
}

.hidden{
    display: none;
}

.font{
    font-family: "Open Sans", Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    line-height: 3rem;
}

#menu,#close{
    padding-right: 1rem;
    padding-top: 1rem;  
}

/* Nav
   ========================================================================== */
.nav{
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    height: 100%;
    z-index: 1;
}

#menu{
    width: 5%;
position: fixed;
}


#menu:hover, #close:hover{
    opacity: .80;
    cursor:pointer;
}

.cross{
justify-content: flex-end;
}

#close{
    width: 20%;
}

.bars{
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 34vh;
}

#ul{
    padding-left: 0rem;
}

#nav{
    background-color:black;
    width: 25%;
}

#nav h3{
padding-left: 4rem;
font-size: 3.5rem;
text-align: left;
}

#nav li{
    padding-left: 2rem;
    border-bottom: 2px solid white;
    width: 100%;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    line-height: 4rem;
}

#nav a{
    font-size: 4rem;
}

li{
    list-style-type: none;
}



#arrow{
    margin-top: 1rem;
}

#arrow:hover{
    cursor: pointer;
}




/* Header
   ========================================================================== */
   .container{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
	0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
	100% { opacity: 1; }
  }


header{
    background: no-repeat url('images/background.jpg') center/cover;
    height: 100vh;
}

header.flex p{
    font-size: 2.5rem;
    width: 17%;
    font-weight: bold;
    color: black;
}

#header h1 a{
    font-size: 5rem;
    padding: 1rem 0;
text-decoration: none;
font-weight: bold;
border-top: 2px solid white;
border-bottom: 2px solid white;
}


#header h1{
  position: relative;
  z-index: 0;
}

#click{
    justify-content: flex-end;
    height: 62vh;
    margin-bottom: 5rem;
}
#click a{
    letter-spacing: .1rem;
    width: 100%;
}



/* Websites
   ========================================================================== */

#one h2{
    font-size: 3rem;
    border-bottom: 2px solid white;
}

.right, .left{
    width: 40%;
    padding: 4rem;
}

#one img{
    max-width: 80%;
}

#one img:hover{
    opacity: 75%;
}

#one img:active{
    opacity: 100%;
}


.websites{
    justify-content: space-around;
}

.button{
    background: rgb(237, 207, 207);
    border: none;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 4rem;
}

#websites{
    padding-bottom: 1.5rem;
    width: 20%;
}

#one{
    background-color: rgb(53, 45, 45);
    padding: 4rem;
}

.section2-1{
    background-color: rgb(44, 37, 37);
}

.section2-2{
    background-color: rgb(42, 29, 29);
}

.section2-3{
    background-color: rgb(40, 21, 21);
}

.section2-4{
    background-color: rgb(38, 13, 13);
}


.button:hover{
    cursor: pointer;
    color: black;
    background: rgb(226, 153, 153);
}

.button:active{
    box-shadow: 2px 0px white;
}

/* My Services
   ========================================================================== */
#two{
    background: #505393;
    padding: 10rem;
}

#two h2{
    font-size: 4rem;
    padding-bottom: 1.5rem;
    width: 30%;
    border-bottom: 2px solid white;
}


.icon{
    padding: 9rem 6rem;
    font-size: 5rem;
}

.service, .icon{
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.service{
    padding: 5rem;
    width: 60%;
    min-height: 35vh;
}

.i1{
    background: #4a4d8e;
}

.i2{
    background: #434785;
}

.i3{
    background: #404581;
}

.s1{
    background: #3f457f;
}

.s2{
    background: #363d75;
}

.s3{
    background: #313670;
}

/* About Me
   ========================================================================== */

#three{
    background: #21b2a6;
    padding: 5rem;
}

#three img{
    width: 20%;
}

#three p{
    width: 80%;
    color: #c8ece9;
}

#three h2{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.125)
}

/* Footer
   ========================================================================== */

   footer{
    box-shadow: inset 0 0 0 1000px rgba(44, 37, 37,.9);
    background: url('images/background.jpg')  no-repeat center/cover;
    padding-bottom: 2rem;
    padding-top: 4rem;
   }

   .social ul li{
    list-style-type: none;
   }

 #name, #email, form, form textarea{
    width: 80%;
   }

form label{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

 #name, #email{
    border-radius: 5px;
    height: 5vh;
   }

   #name, #email, form textarea{
    background-color: rgba(144, 144, 144, 0.25);

   }

   form textarea{
    height: 22vh;
   }

   input.send{
    padding: .5rem 2rem;
    background: none;
    border: 1px solid white;
    margin-top: 2rem;
   }

   .send:hover{
    cursor: pointer;
    background: rgb(59, 55, 55)
   }

   .send:active{
    background: rgb(0, 0, 0)
   }

 

   
  .social a.font:hover{
    color:black;
}

.social a.font:active{
    color: white;
}

   form input.font{
    text-align: left;
   }

   .social ul{
    width: 100%;
   }

   .social a{
    font-size: 3rem;
   }


   .social a.font{
    color: rgba(144, 144, 144);
   }


   .first a{
    margin-left: -2rem;
   }

   .social li{
    margin-left: 2rem;
    margin-right: 2rem;
   }

/* Media Queries
========================================================================== */

   @media all and (min-width: 300px) and (max-width: 1450px){

    #header p{
        width: 40%;
    }

   }

   @media all and (min-width: 100px) and (max-width: 1120px){
    #header .nav #nav{
        width: 40%;
    }
    #ul{
        width: 100%;
    }
   }


   @media all and (min-width: 100px) and (max-width: 550px){
   #header h1{
    line-height: 10rem;
   }
   #two h2{
    line-height: 5rem;
   }
   }


   
   @media all and (min-width: 100px) and (max-width: 846px){


    #one img{
        max-width: 100%;
    }

    #one section.websites div h2{
        width: 100%;
    }
  

    #one section{
        flex-direction: column;
        align-items: center;
    }

    #one section div, #one section, #two h2, #one h2{
        width: 100%;
    }

    #one{
        padding:1rem;
    }

    #three img{
        width: 60%;
    }

    #menu{
        width: 8%;
    }

    #close{
        width: 30%;
    }

   }

   /* #menu{
    width: 5%;
position: fixed;
}

#close{
    width: 20%;
} */
