/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
   clear: both;
}

html{
	font-size: 62.5%;
}

p{
	font-size: 2rem;
}

h1{
	font-size: 5rem;
}

h2{
	font-size: 4rem;
}

a{
	color: white;
	text-decoration: none;
}

.icons a{
	font-size: 3rem;
}

#copyright small{
	font-size: 2rem;
}

#copyright, .icons li{
	margin-top: 1rem;
}

.link:hover{
	opacity: 80%;
}

/******************************************
/* BASE STYLES
/*******************************************/

main .callToAction{
	width: 100%;
	justify-content: space-evenly;
}

.imageContainer{
	width: 60%;
	margin-bottom: 2rem;
}

.imageContainer img{
	border-radius: 5px;
	width: 100%;
}

main article img{
	border-radius: 5px;
	width: 100%;
	margin-bottom: 1rem;
}

body main{
	align-self: flex-end;
	padding: 2rem 6rem 2rem 6rem;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main section, main article{
	margin-bottom: 2rem;
}



main section article{
	background: #f7f7f7;
	border: solid 3px #efefef;
	border-radius: 5px;
	padding: 2rem;
	margin-bottom: 6rem; 
}

.languages li{
	margin-right: 2rem;
	font-size: 2rem;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	padding: 1rem 2rem;
}

.languages{
	padding-top: 1.5rem;
}

main > article{
	padding: 4rem 0rem;	
	border-bottom: solid 2px #efefef;
}

main article.flex.column.alignItems h2{
	padding-bottom: 4rem;
}

main article + section h3{
	padding-bottom: 2rem;
	font-size: 3rem;	
}

main section article p{
	margin: 2rem 0rem;
	line-height: 2.5rem;
}

main section{
	margin-top: 4rem;
}


.fa-solid.fa-bars{
	font-size: 3rem;
}

main section article div.flex{
	align-items: flex-end;
	padding: 2rem 0rem 3rem 0rem;
	justify-content: space-between;
}

main section article div div .button{
	margin-right: 1rem;
}


/******************************************
/* HEADER
/*******************************************/

#header {
	background-image: url("images/background.png");
	background-attachment: fixed;
	background-size: cover;
	position: fixed;
	z-index: 0;
	margin: 0rem;
	color: white;
	height: 100%;
	width: 30%;
	padding-left: 2rem;
}

#header section{
	align-items: flex-end;
	width: 87.5%;
}

#header h2{
	text-align: end;
}


#header .button{
	margin-bottom: 2rem;
}

#header .icons{
	margin-bottom: 1rem;
}

#header .icons li small{
	margin-left: 1.5rem;
}

#header .icons a:hover{
	border-color: #49bf9d;
	color: #49bf9d;
}

#header h2{
	margin-bottom: 2rem;
}

#header section{
	align-items: flex-start;
}


/******************************************
/* BUTTONS
/*******************************************/

.button small{
	margin-left: 1rem;
	font-size: 2.5rem;
}

.button{
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 0.35em;
	border: solid 3px #efefef;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: 3.15em;
	height: calc(2.75em + 6px);
	line-height: 2.75em;
	font-size: 2rem;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
	border-color: #49bf9d;
	color: #49bf9d;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
	background-color: rgba(73, 191, 157, 0.1);
	border-color: #49bf9d;
	color: #49bf9d;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
.button.icon {
	padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
.button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
	min-width: 0;
	width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
	font-size: 0.8em;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
.button.large {
	font-size: 1.35em;
}
/******************************************
/* LAYOUT
/*******************************************/

.alignItems{
	align-items: center;
}

.justifyContent{
	justify-content: center;
}

.column{
	flex-direction: column;
}

.row{
	flex-direction: row;
}

.flex{
	display: flex;
}

.nav{
	display: none;
}

.hidden{
	display: none;
}



body header + main{
	width: 70%;
}